<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>

<html>
<body>
<div class="container-fluid">
    <nav>
        <div th:replace="~{my-menu :: mymenu(BookAdd)}">
        </div>
    </nav>
</div>
<div class="container-fluid">
    <form th:action="@{/books/add}" th:object="${book}" method="post">

        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title"  th:field="*{title}">
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" th:field="*{year}" >
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" th:field="*{description}">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" th:field="*{price}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Send</button>
        </div>
    </form>

</div>
</body>
</html>
